body,input,h1,h2,h3,h4,h5,h6,ul,li,ol{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: PingFang SC,Hiragino Sans GB,Microsoft YaHei,STHeiti,WenQuanYi Micro Hei,Helvetica,Arial,sans-serif;
	
}
a{
	text-decoration: none;
}
@font-face {
  font-family: 'iconfont';  /* project id："169671" */
  src: url('https://at.alicdn.com/t/fo.fixed1nt_zxz26bg967d2huxr.eot');
  src: url('https://at.alicdn.com/t/font_zxz26bg967d2huxr.eot') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_zxz26bg967d2huxr.woff') format('woff'),
  url('https://at.alicdn.com/t/font_zxz26bg967d2huxr.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_zxz26bg967d2huxr.svg#iconfont') format('svg');
}
/*头部开始*/
/*头部定位*/
.fix{
	width: 100%;
	height: 60px;
	background:#fff;
	position: fixed;
	top: 0;
	left: 0;
	box-shadow: 0 0 12px #D9D6D3;
	z-index: 10000;
}
.fixed1{
	width: 1000px;
	margin: 0 auto;
}
.fix h3{
	/*width: 500px;*/
	height: 100%;
	line-height: 60px;
	color: #393B3A;
	font-size: 30px;
	float: left;
}

.fixed1 ul{
	float: right;
	height: 100%;
	line-height: 60px;
}


/*neirong*/
.containers{
	max-width: calc(1000px - (30px * 2));
	margin: 0 auto;
}
.itemsList .item{
	line-height: 100px;
	font-size: 24px;
	border-bottom: 1px solid #efefef;
}
